{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

<div id="wrapper">
    <div id="big_left_container">
        <div id="text_form">
<h4>Мы рады приветствовать вас на нашем сайте - сайте лэндинг интернет магазина, специализирующегося на продаже и
     доставке ноутбуков по низким ценам от известных брэндов.</br>
</br>Наша компания работает на рынке электроники уже несколько лет и за это время мы зарекомендовали себя как надежный
     поставщик качественных товаров. Мы тщательно отбираем товары только от проверенных производителей, чтобы 
     предложить нашим клиентам только лучшее.</br>
</br>Мы понимаем, что покупка ноутбука - это серьезное решение, поэтому мы предлагаем только самые современные модели 
    с высокими техническими характеристиками. У нас вы найдете ноутбуки от таких известных брэндов, как Apple, Asus, 
    Lenovo, HP, Dell и многие другие.</br>
</br>Мы также обеспечиваем удобную и быструю доставку наших товаров по всей стране. Наша команда профессионалов работает
     над тем, чтобы ваш заказ был обработан максимально быстро и вы могли получить свой товар в кратчайшие сроки.</br>
</br>Мы гордимся своей репутацией и стремимся к тому, чтобы каждый клиент был доволен своей покупкой. Мы ценим доверие
     наших клиентов и делаем все возможное, чтобы предложить им лучший сервис и качество товаров.</br>
</br>Если у вас возникли вопросы или вам нужна помощь в выборе товара - наши специалисты с удовольствием помогут вам. 
    Свяжитесь с нами любым удобным для вас способом и мы ответим на все ваши вопросы.</h4>

<h3>Спасибо, что выбрали нас. Мы надеемся на долгосрочное и взаимовыгодное сотрудничество с вами!</h3>
</div>
</div>
</div>

{% endblock %}