{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>

<div id="wrapper">
    <div id="left_container">
        <div id="text_form">
            <h1>Ноутбуки по ценам производителей!</h1>
            <h4>Мы являемся прямыми партнерами всех брэндов, выпускающих ноутбуки. Поэтому наши цены самые низкие!
                Заказав у нас ноутбук вы выигрываете в цене и качесте.<br/>
                Доставка осуществляется курьером нашей компании до дверей вашей квартиры!
            </h4>
            <p>Все, что вам нужно, заполнить форму регистрации и мы с Вами обязательно свяжемся в близжайшее время!</p>
            <p>Ваш удачный выбор в ваших руках!</p>
            <a href="http://127.0.0.1:8000/contact/" class="button">Оформить заявку</a>
        </div>
    </div>
    <div id="right_container">
        <div id="image_form">
            <img src="{% static 'project/images/noutbook.jpg' %}" class="image" alt="Картинка ноутбука">
        </div>
    </div>   
</div>

{% endblock %}
